@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  /* COLORS */
  --light-color: #ffffff;
  --primary-color: #8338ec;
  --primary-complimentary-color: #ffbe0b;
  --dark-text-color: #121212;
  --editor-color: #1e1e1e;
  --red-color: #ef2525;
  --yellow-color: #efb925;
  --green-color: #25ef83;

  /* FONT WEIGHTS */
  --light-weight: 300;
  --regular-weight: 400;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* FONT SIZES */
  --main-heading-font-size: 2em;
  --sub-heading-font-size: 1.5em;
  --side-heading-font-size: 1em;

  /* RADIUS */
  --big-radius: 20px;
  --small-radius: 10px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: max-content;
  height: max-content;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

/* ------------ UTILITES ----------- */
.brand {
  width: fit-content;
  border-bottom: 2.5px solid var(--primary-complimentary-color);
}

.emphasis-text {
  color: var(--primary-color);
  font-size: var(--sub-heading-font-size);
  font-weight: var(--semi-bold-weight);
  margin-block: 0.5em;
  padding-bottom: 5px;
}

.link-item {
  cursor: pointer;
}

.heading {
  font-size: var(--main-heading-font-size);
  margin-block: 20px 0;
}

/*------------ LOGIN STYLES -------- */

.login-container {
  width: 26em;
  height: max-content;
  border: none;
  border-radius: var(--big-radius);
  background-color: var(--light-color);
  padding-bottom: 10px;
}

/* LOGIN INNER CONTAINER */
.lg-inner-cont {
  margin: 1.5em 2em;
}

.lg-inner-cont label {
  font-size: var(--sub-heading-font-size);
  margin-block: 1.5em 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* INPUT CONTAINER */
.form-container .input-cont {
  border: 1px solid --dar;
  display: flex;
  border: 1px solid #12121280;
  align-items: center;
  border-radius: 10px;
}

.form-container .input-cont:has(> .lg-input:focus) {
  border: none;
  outline-style: solid;
  outline-color: var(--primary-color);
  outline-width: 2px;
}

.lg-icon {
  width: 25px;
  height: 20px;
  margin-left: 10px;
  filter: invert(50%) sepia(0%) saturate(1327%) hue-rotate(175deg)
    brightness(100%) contrast(82%);
}

/* INPUT FIELD FOR LOGIN SCREEN */
.form-container .lg-input {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding: 1em 0.5em;
}

/* to avoid input field in input-cont highlight */
.form-container .lg-input:focus {
  outline: none;
}

.form-container button {
  width: 100%;
  align-self: center;
  margin-block: 2em;
  padding-block: 1em;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: var(--primary-complimentary-color);
  cursor: pointer;
}

.authRedirectLink {
  display: inline-block;
  padding-left: 10px;
  font-size: 1.1em;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.form-container .helper-text {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.top-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.logout-icon {
  cursor: pointer;
  margin-left: auto;
  width: 20px;
  height: 20px;
  filter: invert(4%) sepia(7%) saturate(144%) hue-rotate(315deg)
    brightness(103%) contrast(93%);
}
.img__wrap {
  margin-right: 10px;
  width: auto;
  position: relative;
  margin-left: auto;
}
.img__wrap .img-desc {
  color: var(--light-color);
  width: max-content;
  padding: 0.5em;
  visibility: hidden;
  position: absolute;
  background-color: #12121280;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: -100%;
}

.img__wrap:hover .img-desc {
  visibility: visible;
  background-color: red;
}

/* HOME STYLES */

.home-container {
  width: 40em;
  height: max-content;
  border: none;
  border-radius: var(--big-radius);
  background-color: var(--light-color);
  padding-bottom: 10px;
}

.home-top-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hm-inner-cont{
  margin: 2em 2em 1em;
}

/* background for every clickable icon */
.icon-bg {
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-bg:hover {
  background-color: #12121210;
}

/* home page icons */
.hm-icon {
  width: 20px;
  height: 20px;
  margin: 0px;
  filter: invert(50%) sepia(0%) saturate(1327%) hue-rotate(175deg)
    brightness(100%) contrast(82%);
}

.editor-container {
  padding-bottom: 5em;
  border-radius: var(--big-radius);
  background-color: var(--editor-color);
  /* background-color: red; */
  position: relative;
}

.editor-top-pane {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: var(--big-radius) var(--big-radius) 0 0;
  border-bottom: 0.5px solid #80808050;
  background-color: var(--editor-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-controls {
  display: flex;
  margin-left: 15px;
}

.window-controls .control {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
}

.window-controls > .control {
  margin-left: 5px;
}

.red {
  background-color: var(--red-color);
}

.yellow {
  background-color: var(--yellow-color);
}

.green {
  background-color: var(--green-color);
}

.tip-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.tip {
  font-size: 15px;
  color: grey;
  margin-left: 3px;
}
.editor {
  padding-top: 10px;
}

.editor-area {
  width: 100%;
  height: 300px;
  background-color: var(--editor-color);
  color: var(--light-color);
  outline: none;
  border: none;
  padding: 10px;
  resize: none;
}

.editor-area::-webkit-scrollbar {
  width: 8px;
  border: none;
  cursor: move;
}

.editor-area::-webkit-scrollbar-thumb {
  background-color: #80808080;
  border-radius: 10px;
}

.editor-area::-webkit-slider-thumb:hover{
  cursor: move;
  background-color: red;
}

.file-container {
  position: absolute;
  bottom: 3%;
  left: 0%;
  right: 0%;
}

.file-input-cont {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 80%;
  border: 1px solid grey;
  border-radius: var(--small-radius);
  margin-inline: 1.5em;
}

.file-input-cont .left {
  margin-left: 15px;
  display: flex;
  flex: auto;
  justify-content: start;
}

.file-input {
  font-size: 15px;
  width: 100%;
  padding-inline: 10px;
  color: var(--light-color);
  background-color: var(--editor-color);
  border: none;
  outline: none;
}

.file-input-cont .right {
  margin-right: 15px;
}

.file-btn {
  cursor: pointer;
  border: none;
  border-radius: var(--small-radius);
  background-color: var(--primary-complimentary-color);
  color: var(--light-color);
  font-weight: var(--bold-weight);
  font-size: var(--side-heading-font-size);
  padding: 0.8em 2em;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
